html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth !important;
  /* IMPORTANT BELOW */
  scrollbar-gutter: stable;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  height: 100%;
  scroll-behavior: smooth;
}

.thumbSlides .slick-current img {
  border: 1px dashed #000000aa;
}

.thumbSlides .slick-slide {
  margin: 0 .5rem;
}

.thumbSlides .slick-track {
  height: 4rem;
}